/*navbar section*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #6666db2d;
}
.navbar{
    box-shadow: 0 3px 9px 3px rgb(238, 236, 236);
    background-color: rgb(255, 255, 255);
}
#head{
    margin-left: 15px;
    margin-top: 0px;
    font-family: cursive;
}
#bag{
    position: relative;
    width: 45px;
}
.navbar-nav li a{
    font-size: larger;
    font-weight: 500;
}
.d-flex  #btn1{
    width: 70px;
    background-color: rgb(77, 78, 77)
}
.d-flex #searchbar{
    width: 60%;
}

#ad{
    margin-top: 20px;
}

/* cart */

#cart-icon{
    font-size: 25px;
    position: relative;
}

#cart-span{
    display:flex ;
    width: 20px;
    height: 20px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 350px;
}


/* #dark{
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: 0px;
} */

/* top */

#top-imgs{
    height: 80px;
}
#toph5{
    font-size: 16px;
}



/* collection section*/


.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 45px;
    background-color:rgb(110, 66, 73);
    left: 39%;
}
.active-filter-btn{
    background-color:rgb(197, 119, 36)!important;
    color: white!important;
    border: 1px solid rgb(59, 57, 57);
}
#btn1{
    border-radius: 20px;
    width: 100px;
}
#btn2{
    border: 1px solid rgb(59, 57, 57);
    border-radius: 20px;
    width: 150px;
}
#btn2:hover{
    background-color:rgb(197, 119, 36)!important ;
}
#btn1:hover{
    box-shadow:  0 3px 9px 3px rgb(151, 144, 144);
}
.filter-button-group .btn:hover{
    color: white;
}
#imgs{
    height: 50vh;
}
#star{
    color:red;
}
.collection-img:hover img{
    transform: scale(1.1);
}
.collection-img{
    transition: all .3s ease;
}

/* special section */

.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px!important;
    border: 1px solid #454d5e;
    border-radius: 20px;
}
.special-img{
    transition: all .3s ease;
    
}
.special-img:hover img{
    transform: scale(1.1);
}
#spclimg {
    height: 35vh;
}
#spclbtn:hover{
    background-color:rgb(197, 119, 36) ;
}

/* offers  */

#offers{
    background: url(images/33.jpg)center/cover no-repeat ;
}
#offers .row{
    height: 80vh;
}
.offers-content span{
    font-size: 30px;
    font-weight: 500;
}
.offers-content h2{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#dis{
    margin-right: 100px;
}
#buy{
    border: 1px solid ;
    border-color: transparent!important;
    background-color: white;
    border-radius: 20px;
    width: 150px;
    margin-right: 140px;
}
#buy:hover{
    background-color:rgb(197, 119, 36) ;
}

/* blogs */

#read{
    border: 1px solid #454d5e;
    border-radius: 20px;
}
#read:hover{
    background-color:rgb(197, 119, 36)!important ;
}

/* about us */

#blogimg{
    height: 45vh;
}
#img31{
    height: 500px;
}


/* popular */

#popularimgs{
    height: 70px;
}


/*footer section*/

.help{
    color: #878787;
    font-size: 12px;
}
.consumer{
    color: #878787;
    font-size: 12px;
}
.about{
    color: #878787;
    font-size: 12px;
}
.social{
    color: #878787;
    font-size: 12px;
}
.mail{
    color: #878787;
    font-size: 12px;
    margin-bottom: 16px;
}
.regi{
    color: #878787;
    font-size: 12px;
    margin-bottom: 16px;
}
.lastbox{
   
    border-top: 1px solid #454d5e;
    padding: 25px 0;
    margin-top: 40px;
    width: 100%;
    align-items: center;
}
.angu{
    font-family: Roboto,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 8px;
    margin-top: 23px; 
}
.footicons{
    margin-bottom: 2px;
    margin-left:70px;
}
.footicon{
    margin-left: 40px;
    margin-bottom: 4px;
}
#foot{
    margin-top: 100px;
}